<div class="text-center" id="jb">
  <img id="logo"
    src="/assets/img/newvader.png"
    class="img-fluid" alt="Responsive image">
  <br>
  <br>
  <br>
  <h1>Use the Force & DEVOUR 'em!!</h1>
  <br>
  <br>
  <br><br>
</div>



<div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight text-center">
    <br>
    <h2>Ready to Eat Burgers!</h2>
    <br>
    {{#each burgers}}
    {{#unless this.devoured}}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3>{{burger_name}}</h3><button type="button" id="devour" class="btn btn-danger btn-lg devour" data-id="
          {{id}}"">FORCE DEVOUR! <i class="fas fa-hamburger"></i></button>
      </li>
    </ul>
    <br>
    {{/unless}}
    {{/each}}
  </div>

  <div class="p-2 flex-fill bd-highlight text-center">
    <br>
    <h2>Devoured Burgers!</h2>
    <br>
    {{#each burgers}}
    {{#if this.devoured}}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3>{{burger_name}}</h3><button type="button" id="restore" class="btn btn-danger btn-lg restore" data-id="
          {{id}}"">FORCE RESTORE! <i class="fas fa-hamburger"></i></button>
      </li>
    </ul>
    <br>
    {{/if}}
    {{/each}}
  </div>

  <div class="p-2 flex-fill bd-highlight text-center">
    <br>
    <h2>Request a Burger!</h2>
    
    <div class="form-group">
      <label for="new_burger"></label>
      <input class="form-control" id="new_burger" name="burger_name"></input>
      <br>
      <button id="submit" type="submit" class="btn btn-danger btn-lg"><i class="fas fa-utensils"></i>
        Place
        an Order!</button>
    </div>
  </div>
</div>