body {
    background: url("/assets/img/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Luckiest Guy', cursive;
}

#jb {
    background: url("/assets/img/DSback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

#logo {
    width: 400px;
    height: 400px;
}

h2 {
    color: whitesmoke;
    text-decoration-line: underline;
}

.list-group-item {
    background: none;
    color: whitesmoke;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
}